<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar navbar-default bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">Angular + Bootstrap</span>
            </div>
        </div>
    </nav>
</header>
<main class='container'>
    <router-outlet></router-outlet>
</main>
<footer class='footer bg-light'>
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>